---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from "../components/Header.astro";
import MenuBar from "../components/MenuBar.astro";
import Contact from "../components/Contact.astro";
const currentPath = Astro.url.pathname;
const {title} = Astro.props;
---
<html lang="en">
<head>
    <script data-goatcounter="https://kleinrath.goatcounter.com/count"
            data-goatcounter-settings=`{"path": "${currentPath}"}`
            async src="//gc.zgo.at/count.js"></script>
    <BaseHead title={title}/>
</head>
<body class="text-gray-600 dark:text-gray-700 font-sans text-[15px] font-normal dark:bg-gray-950">
<Header title={title}/>

<!-- Flex container for menubar and content -->
<div class="flex flex-col md:flex-row mr-10 lg:mx-auto pr-6 max-w-7xl">
    <MenuBar currentPath={currentPath}/>
    <div class="flex flex-col lg:flex-row">
        <div class="flex-1 min-w-[270px] lg:w-[45rem] container p-10 pt-5 mt-7 ml-7 mr-7 mb-10 shadow-xl rounded-lg dark:bg-[#99a2b5]">
            <slot/>
        </div>
        <Contact/>
    </div>
</div>
<Footer/>
</body>
</html>
